// color
$basic-color: #fbfbfb;
$basic-color-night: #3f414b;
$nav-color: #333333;
$nav-text-color: #dddddd;
$nav-icon-color:  $nav-text-color;
$nav-border-color: #2a2a2a;
$right-mask-color: rgba(120, 120, 120, 0.1);
$left-mask-color: rgba(0,0,0,0);
$bottom-mask-color: rgba(0,0,0,0);
$main-color: $basic-color;
$main-color-night: $basic-color-night;
$header-color: $basic-color;
$header-color-night: $basic-color-night;
$header-title-color: #888888;
$header-icon-color: #9e9e9e;
$article-title-border-color: rgba(7,17,27,0.1);
$article-author-color: #888888;
$article-foot-color: #888888;
$article-foot-border-color: rgba(7,17,27,0.1);
$collection-color: $basic-color;
$collection-color-night: $basic-color-night;
$mask-color-white: rgba(0, 0, 0, 0);
$mask-color-green: rgba(0, 255, 0, 0.1);
$mask-color-brown: rgba(255, 152, 0, 0.1);
$mask-color-pink: rgba(255, 110, 158, 0.1);

//transition
$left-main-transition: linear 0.2s;

//width/height change(s) should alse be applied to the corresponding variable(s) in App.vue
$nav-left-width: 36vw;
$nav-right-width: 20vw;
$pad-bottom-height: 26vh;
